/* ------------------------------ souris ------------------------------ */
*{cursor: none !important;}
button, a, .interactive, input {
    cursor: none !important;
}
.souris{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -15%);
    width: 8rem;
    height: 8rem;
    background-image: url('../img/dessin/souris.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 9999;
    @media screen and (max-width : 541px){
        width: 6rem;
        height: 6rem;
    }
}



/* ------------------------------ autres ------------------------------ */
.fond{background-color: #fffff0;}
.titre{
    font-size: 3rem;
    color: #bc0808;
    margin: 1rem;
    margin-top: 7rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.soustitre{
    font-size: 2rem;
    color: #000000;
    margin: 1rem;
    margin-bottom: 5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    margin: 1rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img{
    width: 100%;
    border-radius: 20px;
}
.video{
    margin: 1rem;
    width: 30%;
    @media screen and (max-width : 1200px){
        width: 60%;
    }
}
.lien{
    text-decoration: none;
    color: #dbdfbe;
    background-color: #bc0808;
    border: #bc0808 1px solid;
    border-radius: 10px;
    padding: 0.5rem;
    transition-duration: 1s;
    margin-left: 35%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.lien:hover{
    color: #bc0808;
    background-color: #dbdfbe;
    transition-duration: 1s;
}