/* ------------------------------ souris ------------------------------ */
*{cursor: none !important;}
button, a, .interactive, input {
    cursor: none !important;
}
.souris{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -26%);
    width: 6rem;
    height: 6rem;
    background-image: url('../img/dessin/souris.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 9999;
    @media screen and (max-width : 541px){
        width: 4rem;
        height: 4rem;
    }
}



/* ------------------------------ autres ------------------------------ */
.fond{background-color: #ffffff;}
.titre{
    font-size: 5rem;
    color: #000000;
    margin: 4rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.soustitre{
    font-size: 2rem;
    color: #777777;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.soustitre2{
    font-size: 2rem;
    color: #ffffff;
    margin: 0rem;
    margin-bottom: 5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    margin: 1rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img{
    width: 100%;
    border-radius: 20px;
}
.video{
    margin: 1rem;
    width: 100%;
}
.lien{
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border: #000000 2px solid;
    border-radius: 10px;
    padding: 0.5rem;
    transition-duration: 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.lien:hover{
    color: #000000;
    background-color: #ffffff;
    transition-duration: 1s;
}