/* --------------- La Biograpie --------------- */
.bio{
    margin-top: 3rem;
    padding : 3rem;
    background-color: #dfdfbe;
    display: flex;
    flex-direction: row;
    flex: 8fr 2fr;
    @media screen and (max-width : 1200px){
        flex-direction: column;
        align-items: center;
    }
}
.img_bio{
    margin: 1rem;
    border-radius: 25px;
    width: 30%;
    @media screen and (max-width : 1200px){
        width: 60%;
    }
}



/* --------------- La Formation --------------- */
.formation{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    width: 1fr;
    @media screen and (max-width : 1024px){
        margin-left: 5rem;
        margin-right: 5rem;
    }
    @media screen and (max-width : 800px){
        margin-left: 1rem;
        margin-right: 1rem;

    }
}
.forma{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 0.5em 0.5em #bc0808;
    display: flex;
    flex-direction: row;
    flex: 50fr 50fr;
     @media screen and (max-width : 1200px){
        flex-direction: column;

    }
}
.titre_forma{
    font-size: 2rem;
    color: #000000;
    margin: 1rem;
    margin-bottom: 5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.soustitre_forma{
    font-size: 1.5rem;
    color: #bc0808;
    margin: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* --------------- Les Projets --------------- */
.projets{
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-row: auto;
    @media screen and (max-width : 1024px){
        grid-template-columns: 50fr 50fr;
    }
    @media screen and (max-width : 601px){
        display: flex;
        flex-direction: column;
    }
}
.card_proj{
    margin: 2rem;
    background-color: #dfdfbe;
    border-radius: 20px;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_proj:hover{
    transition-duration: 1s;
    box-shadow: 0 0 1em 0.1em #bc0808;
    color: #bc0808;
    
}
.comp_proj{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
}
.c1{
    grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
}
.c2{
    grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
}
.c3{
    grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
}
.c4{
    grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
}
.la_comp_proj{
    margin: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    border: 1px solid #bc0808;
    border-radius: 10px;
    color: #bc0808;
    background-color: #dfdfbe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titre_proj{
    text-align: center;
    text-decoration: none;
    color: #000000;
    transition-duration: 1s;
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 2px solid;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img_proj{
    width: 100%;
    height: 60%;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}