.bio{
    border : 2px solid #000000;
    border-radius: 35px;
    margin : 1rem;
    padding : 1rem;
    width: 1fr;
}



.formation{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    width: 1fr;
    @media screen and (max-width : 1024px){
        margin-left: 5rem;
        margin-right: 5rem;
    }
    @media screen and (max-width : 800px){
        margin-left: 1rem;
        margin-right: 1rem;

    }
}
.forma1{
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #000000;
    border-radius: 15px;
}



.projets{
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-row: auto;
    @media screen and (max-width : 1024px){
        grid-template-columns: 50fr 50fr;
    }
    @media screen and (max-width : 601px){
        display: flex;
        flex-direction: column;
    }
}
.card_proj{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 15px;
    transition-duration: 1s;
}
.card_proj:hover{
    transition-duration: 1s;
    box-shadow: 0 0 2em 0.5em #880808;
    
}

.comp_proj{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
}