.bio{
    margin : 3rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex: 8fr 2fr;
    @media screen and (max-width : 1200px){
        flex-direction: column;
    }
}
.bio_bio{
    margin: 1rem;
    font-size: 1rem;
}
.img_bio{
    margin: 1rem;
    border-radius: 25px;
    width: 30%;
    @media screen and (max-width : 1200px){
        width: 60%;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }
}


.formation{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    width: 1fr;
    @media screen and (max-width : 1024px){
        margin-left: 5rem;
        margin-right: 5rem;
    }
    @media screen and (max-width : 800px){
        margin-left: 1rem;
        margin-right: 1rem;

    }
}
.forma{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 0.5em 0.5em #bc0808;
}



.projets{
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-row: auto;
    @media screen and (max-width : 1024px){
        grid-template-columns: 50fr 50fr;
    }
    @media screen and (max-width : 601px){
        display: flex;
        flex-direction: column;
    }
}
.card_proj{
    margin: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 15px;
    transition-duration: 1s;
}
.card_proj:hover{
    transition-duration: 1s;
    box-shadow: 0 0 2em 0.5em #bc0808;
    color: #bc0808;
    
}
.comp_proj{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
}
.la_comp_proj{
    margin: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #bc0808;
    border-radius: 5px;
    color: #bc0808;
    background-color: #fffff0;
}
.titre_proj{
    text-align: center;
    transition-duration: 1s;
}
.img_proj{
    width: 100%;
    border-radius: 20px;
}