.presentation{
    margin : 2rem;
    padding: 2rem;
    border-radius: 25px;
    border: 2px solid #000000;
    box-shadow: 0.5em 0.5em #444444,
        -0.5em -0.5em #cccccc;
    display: grid;
    grid-template-columns:3fr 2fr;
    grid-row: auto;
    @media screen and (max-width : 1024px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.boit_img{
    display: flex;
    flex-direction: column;
}
.img_proj{
    margin: 1rem;
    border-radius: 25px;
    width: 100%;
}